<template lang="html">
  <div class="repositories" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
    <repository class="repository" v-for="(project, index) in projects" :key="index" :project="project"></repository>
    <pulse-loader class="loader" :loading="showLoader" :color="loaderColor" ></pulse-loader>
  </div>
</template>

<script>
import repository from './repository'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name : 'Repositories',
  components : {
    repository,
    PulseLoader
  },
  data: ()=>{
    return {
      // declaring Array to store received data in
      projects : [],
      // declaring the index to use it to get data from the API
      index: 1,
      // declaring a boolean to show the loader while getting data
      showLoader: true,
      loaderColor : 'black'
    }
  },
  methods:{
    // this function will be invoked, when the user visits the page, in order to get the first repositories
    init(){
      this.$http.get('https://api.github.com/search/repositories?q=created:%3E2017-10-22&sort=stars&order=desc&page='+this.index).then(response => {
        this.projects = response.body.items;
        // hide loader
        this.showLoader = false;
        // increment index for the next usage
        this.index++;
      }, response => {
        alert('a problem occured while getting data: '+ response.body);
      });
    },
    // this function will be invoked when ever the user gets to the end of the page
    loadMore(){
      // show loader
      this.showLoader = true;
      this.$http.get('https://api.github.com/search/repositories?q=created:%3E2017-10-22&sort=stars&order=desc&page='+this.index).then(response => {
        // adding new repos one by one to avoid the auto-scroll to the end of the page and getting a new data
        for (var i = 0; i < response.body.items.length; i++) {
          this.projects.push(response.body.items[i]);
        }
        // hide loader
        this.showLoader = false;
        // increment index for the next usage
        this.index++;
      }, response => {
        alert('a problem occured while getting data: ' + response.body);
      });
    }
  },
  mounted(){
    this.init();
  }
}
</script>

<style lang="css" scoped>
.repositories{
  margin-top: 20px;
}
.repository{
  margin-top: 20px;
}
.loader{
  margin: 20px auto;
}
</style>
