<template lang="html">
  <v-layout class="repository">
    <v-flex xs12 sm10 offset-sm1>
      <v-card>
        <v-card-title primary-title>
          <v-layout row wrap>

            <!-- avatar column -->
            <v-flex xs2 sm2>
              <v-img
                :src="project.owner.avatar_url"
                class="my-3"
                contain
                height="100"
              ></v-img>
            </v-flex>


            <!-- all repo details -->
            <v-flex xs10 style="margin-top: 15px;">
              <!-- Project name -->
              <h3 class="headline mb-0"><span  @click="openRepo(project.html_url)">{{project.name}}</span></h3>

              <!-- Project description -->
              <div class="description">{{project.description}}</div>


              <!-- details about the repository -->
              <div class="details">

                <!-- repo stars -->
                <v-tooltip top style="cursor: help;">
                  <v-icon
                    class="icon"
                    slot="activator"
                    color="black"
                    dark
                  >grade</v-icon>
                  <span> stars : {{project.stargazers_count}}</span>
                </v-tooltip>

                <!-- repo issues -->
                <v-tooltip top style="padding-left:10px; cursor: help;">
                  <v-icon
                    class="icon"
                    slot="activator"
                    color="black"
                    dark
                  >report</v-icon>
                  <span> issues : {{project.open_issues_count}}</span>
                </v-tooltip>

                <!-- infos about the submittion date -->
                <a style="margin-left: 10px;cursor:auto; text-decoration: none; color: black;">Submitted {{submitedDays == 0 ? "today":(submitedDays == 1)? submitedDays+'day':submitedDays+'days'}} ago by <a :href="project.owner.html_url" target="_blank" class="icon" style="cursor: alias; text-decoration: none; color: black;">{{project.owner.login}}</a></a>
              </div><!--end of details about the repositor-->
            </v-flex><!--end of all repo details -->

          </v-layout>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
var moment = require('moment');
export default {
  name:'Repository',
  props : [
    'project',
  ],
  methods:{
    // open the repo in new tab
    openRepo: function(url){
      window.open(url, "_blank");
    },
  },
  computed :{
    // calculating the number of days since the last submittion
    submitedDays(){
      let vm = this;
      let currentDate = moment();
      let submitDate = moment(vm.project.pushed_at.substr(0,10));
      return currentDate.diff( submitDate , 'days');
    }
  }
}
</script>

<style lang="css" scoped>
.headline span{
  cursor: alias;
  font-size: 18px !important;
  font-weight: 500;
}
.headline span:hover {
  cursor: alias;
  color: #b64757;
}
.description{
  width: 100%;
}
.details{
  margin-top: 20px;
}
.badge-margin{
  margin-right: 12px;
}
.space{
  width: 10px;
}
.icon:hover {
  color: #b64757 !important;
  transition-duration: 1500ms;
}
.repository:hover {
  background: 	#EEF0F2;
  transition-duration: 2s
}
</style>
