<template>
  <v-app>
    <v-toolbar app :absolute="true">
      <v-toolbar-title class="headline text-uppercase">
        <span>Git Repos</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        href="https://portfolio.fahdaddi.com"
        target="_blank"
      >
        <span class="mr-2">Portfolio</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <Repositories/>
    </v-content>
  </v-app>
</template>

<script>
import Repositories from './components/repositories'

export default {
  name: 'App',
  components: {
    Repositories
  },
  data () {
    return {
      //
    }
  }
}
</script>
